name: Cross Platform Build

on:
    push:
        branches: [master]
    workflow_dispatch:

jobs:
    # =========================
    # VERSION TAGGING
    # =========================
    version:
      runs-on: ubuntu-latest
      outputs:
        new_tag: ${{ steps.tag.outputs.new_tag }}

      steps:
        - uses: actions/checkout@v4

        - name: Get latest tag
          id: tag
          run: |
            git fetch --tags

            latest=$(git tag --sort=-v:refname | head -n 1)

            if [ -z "$latest" ]; then
              new_tag="v1.0.0"
            else
              version=${latest#v}
              IFS='.' read -r major minor patch <<< "$version"
              patch=$((patch+1))
              new_tag="v$major.$minor.$patch"
            fi

            echo "New tag: $new_tag"

            git tag $new_tag
            git push origin $new_tag

            echo "new_tag=$new_tag" >> $GITHUB_OUTPUT
    #build
    build:
        strategy:
            matrix:
                os: [windows-latest, macos-latest, ubuntu-latest]

        runs-on: ${{ matrix.os }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.11"

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt

            # ================= WINDOWS FFMPEG =================

            - name: Download FFmpeg (Windows)
              if: runner.os == 'Windows'
              run: |
                if (!(Test-Path bin)) { New-Item -ItemType Directory -Path bin }
            
                curl -L -o ffmpeg.zip https://www.gyan.dev/ffmpeg/builds/ffmpeg-release-essentials.zip
            
                powershell -Command "Expand-Archive ffmpeg.zip -DestinationPath ffmpeg"
            
                Copy-Item ffmpeg\*\bin\ffmpeg.exe bin\
                Copy-Item ffmpeg\*\bin\ffprobe.exe bin\
          

            # ================= MAC / LINUX FFMPEG =================

            - name: Install FFmpeg (Mac/Linux)
              if: runner.os != 'Windows'
              run: |
                  mkdir -p bin
                  if [ "$RUNNER_OS" == "macOS" ]; then
                    brew install ffmpeg
                    cp $(which ffmpeg) bin/
                    cp $(which ffprobe) bin/
                  else
                    sudo apt update
                    sudo apt install -y ffmpeg
                    cp $(which ffmpeg) bin/
                    cp $(which ffprobe) bin/
                  fi
                  chmod +x bin/ffmpeg
                  chmod +x bin/ffprobe
            #ytdlp
            - name: Download yt-dlp (Windows)
              if: runner.os == 'Windows'
              run: |
                curl -L -o bin/yt-dlp.exe https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp.exe
            - name: Download yt-dlp (Mac/Linux)
              if: runner.os != 'Windows'
              run: |
                  curl -L -o bin/yt-dlp https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp
                  chmod +x bin/yt-dlp
              


            # ================= BUILD =================

            - name: Build app (Mac/Linux)
              if: runner.os != 'Windows'
              run: |
                pyinstaller app.py \
                --onefile \
                --windowed \
                --name PlaylistApp \
                --add-data "fonts:fonts" \
                --add-data "bin:bin"
            
            
              

            # ================= WINDOWS FIX =================

            - name: Build app (Windows)
              if: runner.os == 'Windows'
              run: pyinstaller app.py --onefile --windowed --name PlaylistApp --add-data "fonts;fonts" --add-data "bin;bin"
            
            - name: Rename macOS build
              if: runner.os == 'macOS'
              run: |
                mv dist/PlaylistApp dist/PlaylistApp-macOS
            - name: Rename Linux build
              if: runner.os == 'Linux'
              run: |
                  mv dist/PlaylistApp dist/PlaylistApp-Linux
            - name: Rename Windows build
              if: runner.os == 'Windows'
              run: Rename-Item -Path dist\PlaylistApp.exe -NewName PlaylistApp-Windows.exe

            
            # ================= UPLOAD =================

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: PlaylistApp-${{ runner.os }}
                  path: dist/*
    # =========================
    # CREATE RELEASE
    # =========================
    release:
      needs: [version, build]
      runs-on: ubuntu-latest

      steps:
        - name: Download artifacts
          uses: actions/download-artifact@v4
          with:
            path: artifacts

        - name: Create GitHub Release
          uses: softprops/action-gh-release@v2
          with:
            tag_name: ${{ needs.version.outputs.new_tag }}
            name: Release ${{ needs.version.outputs.new_tag }}
            files: artifacts/**/*