name: Auto Release Build

on:
  push:
    branches: [main, master]

permissions:
  contents: write

jobs:

  # =========================
  # VERSION TAGGING
  # =========================
  version:
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.tag.outputs.new_tag }}

    steps:
      - uses: actions/checkout@v4

      - name: Get latest tag
        id: tag
        run: |
          git fetch --tags

          latest=$(git tag --sort=-v:refname | head -n 1)

          if [ -z "$latest" ]; then
            new_tag="v1.0.0"
          else
            version=${latest#v}
            IFS='.' read -r major minor patch <<< "$version"
            patch=$((patch+1))
            new_tag="v$major.$minor.$patch"
          fi

          echo "New tag: $new_tag"

          git tag $new_tag
          git push origin $new_tag

          echo "new_tag=$new_tag" >> $GITHUB_OUTPUT

  # =========================
  # BUILD CROSS PLATFORM
  # =========================
  build:
    needs: version

    strategy:
      matrix:
        os: [windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install pyinstaller yt-dlp

      # ---------- Windows ----------
      - name: Build Windows
        if: runner.os == 'Windows'
        run: pyinstaller app.py --onefile --windowed --name PlaylistApp --add-data "fonts;fonts" --add-data "bin;bin"

      # ---------- Mac/Linux ----------
      - name: Build Mac/Linux
        if: runner.os != 'Windows'
        run: |
          pyinstaller app.py \
            --onefile \
            --windowed \
            --name PlaylistApp \
            --add-data "fonts:fonts" \
            --add-data "bin:bin"
      # ================== Rename build ==================
      - name: Rename build
        if: runner.os != 'Windows'
        shell: bash
        run: |
          if [ "$RUNNER_OS" == "macOS" ]; then
            mv dist/PlaylistApp dist/PlaylistApp-macOS
          elif [ "$RUNNER_OS" == "Linux" ]; then
            mv dist/PlaylistApp dist/PlaylistApp-Linux
          fi


      - name: Rename Windows build
        shell: powershell
        if: runner.os == 'Windows'
        run: ren dist\PlaylistApp.exe PlaylistApp-Windows.exe
        

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ runner.os }}
          path: dist/*

  # =========================
  # CREATE RELEASE
  # =========================
  release:
    needs: [version, build]
    runs-on: ubuntu-latest

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.version.outputs.new_tag }}
          name: Release ${{ needs.version.outputs.new_tag }}
          files: artifacts/**/*